.checkout {
    display: flex;
    padding: 20px;
    background-color: white;
    height: max-content;
  }
  
  .checkout__ad {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .checkout__title {
    margin-right: 10px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }

  .emptyBasket {
    display: flex;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  
  .emptyBasket > img {
    object-fit: contain;
  }
  
  .emptyBasket p {
    font-size: 17px;
    font-weight: 700;
  }
  
  .emptyBasket__container {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 15px;
  }
  
  .emptyBasketBtn {
    background: linear-gradient(0deg, #ffc531, #fadb8e);
    border-radius: 2px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
    transition-duration: 0.1s;
    cursor: pointer;
  }
  
  .emptyBasketBtn:hover {
    background: linear-gradient(0deg, #ffbe1b, #f8d47a);
  }
  
  .emptyBasketBtn:focus {
    outline: orange;
    box-shadow: 0 0 5px 2px rgba(236, 178, 30, 0.8);
  }